* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        to bottom right,
        #ffffff,
        #ffb58abd,
        #c289ffaf,
        #ff8ac1bd,
        #ffffff
    );
    margin: 0px;
    min-height: 100vh;
}

#nav-bar {
    background-color: #746694;
    padding: 0px 20px;
    display: flex;
}

#nav-bar a {
    text-decoration: none;
    color: #C7B2FA;
    font-size: 2vw;
    display: inline-block;
    padding: 20px;
    transition:
        background-color 0.5s;
}
#nav-bar a:hover {
    background-color: #3E2F61;
    height: 100%;
}

#nav-bar #last {
    margin-left: auto;
    display: block;
}

#content {
    display: grid;
    margin-top: 8%;
    grid-template-columns: 1fr 1fr 450px 1fr 1fr;
    grid-template-areas:
        ". image1 text1 . ."
        ". . text2 . ."
        ". . text3 image2 .";
}

.image1 {
    grid-area: image1;
}

.paragraph1 {
    grid-area: text1;
}

.paragraph2 {
    grid-area: text2;
}

.image2 {
    grid-area: image2;
}

#part3 {
    grid-area: text3;
}

div.image1 img {
    width: 300px;
    border-radius: 30px 8px;
    margin-right: 50px;
}

#first-part,
.paragraph1,
.paragraph2,
#part3 {
    align-items: center;
    text-align: center;
}

span.image2 img {
    width: 150px;
    border-radius: 40px 40px;
    margin-left: 20%;
}

@media screen and (max-width: 1000px) {
    #first-three, #nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #first-three {
        gap: 0px;
    }

    #nav-bar {
        text-align: center;
    }

    #nav-bar #last {
        margin-left: 0px;
        text-align: center;
    }

    #nav-bar a {
        font-size: 1.35rem;
        padding: 5px;
    }

    div.image1 img {
        width: 200px;
        border-radius: 20px 4px;
    }
    
    span.image2 img {
        width: 150px;
        border-radius: 20px 20px;
        margin-left: 0%;
    }

    #content {
        grid-template-columns: 1fr 90% 1fr;
        max-width: 700px;
        justify-items: center;
        margin: 8% auto;
        grid-template-areas:
            ". image1 ."
            ". text1 ."
            ". text2 ."
            ". image2 ."
            ". text3 .";
    }
}