body {
    background: linear-gradient(
        to bottom right,
        #cdcdcd,
        #9c8affbd,
        #c289ffaf,
        #9c8affbd,
        #cdcdcd
    );
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "image1 text1 ."
        ". text2 image2"
        ". text3 .";
}

.image1 {
    grid-area: image1;
}

.paragraph1 {
    grid-area: text1;
}

.paragraph2 {
    grid-area: text2;
}

.image2 {
    grid-area: image2;
}

#part3 {
    grid-area: text3;
}

div.image1 img {
    width: 300px;
    border-radius: 30px 8px;
}

#first-part {
    align-items: center;
}

.paragraph1 {
    text-align: center;
}

span.image2 img {
    width: 150px;
    border-radius: 40px 40px;
    margin-left: 20%;
}

.paragraph2 {
    text-align: center;
}

#part3 {
    text-align: center;
}
