* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    min-height: 100vh;
}

#nav-bar {
    background-color: #746694;
    padding: 0px 20px;
    display: flex;
}

#nav-bar a {
    text-decoration: none;
    color: #C7B2FA;
    font-size: 2vw;
    display: inline-block;
    padding: 20px;
    transition:
        background-color 0.5s;
}
#nav-bar a:hover {
    background-color: #3E2F61;
    height: 100%;
}

#nav-bar #last {
    margin-left: auto;
    display: block;
}

@media screen and (max-width: 1000px) {
    #first-three, #nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #first-three {
        gap: 0px;
    }

    #nav-bar {
        text-align: center;
    }

    #nav-bar #last {
        margin-left: 0px;
        text-align: center;
    }

    #nav-bar a {
        font-size: 1.35rem;
        padding: 5px;
    }
}