* {
    box-sizing: border-box;
}

body {
    /* background-image: url("../images/Portrait.png");
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0px;
    height: 50vh; */
    background: linear-gradient(
        to bottom left,
        #281553,
        #0e0623,
        #000000
    );
    margin: 0px;
    min-height: 100vh;
}

/* Navbar Starts */
#first-three {
    display: flex;
    gap: 15px;
    height: 100%;
}

#nav-bar {
    /* background-color: #746694; */
    background: linear-gradient(
        to bottom left,
        #281553,
        #0e0623,
        #000000
    );
    padding: 0px 20px;
    display: flex;
}

#nav-bar a {
    text-decoration: none;
    color: #C7B2FA;
    font-size: 2vw;
    display: block;
    padding: 20px;
    transition:
        background-color 0.5s;
}
#nav-bar a:hover {
    background-color: #3E2F61;
    height: 100%;
}

#nav-bar #last {
    margin-left: auto;
    display: block;
}
/* Navbar Ends */

/* Hero Homepage Starts */
#hero {
    background: linear-gradient(45deg, #00000055, #00000055),
    url(../images/Portrait.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero h1 {
    font-size: 10vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #cfbef4;
}

#hero h3 {
    font-size: 5vw;
    margin: 0px 5vw 0px 0px;
    color: #cfbef4;
}

#hero a {
    font-size: 3vw;
    font-weight: bold;
    display: inline-block;
    background-color: #ffffff67;
    border-radius: 10px;
    color: #3a2175;
    text-decoration: none;
    padding: 17px;
    margin: 5vh 5vw 10vh 0px;
    transition:
        background-color 0.5s,
        box-shadow 0.5s;
}
#hero a:hover {
    background-color: #3E2F61;
    box-shadow: inset 3px 5px 15px #000000;
}
/* Hero Homepage Ends */

/* Between Homepage Starts */
#between {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#between h2 {
    color: #C7B2FA;
    font-size: 100px;
    margin-top: 150px;
}
/* Between Homepage Ends */

/* Gallery Homepage Starts */
#layout {
    max-width: 800px;
    margin: 48px auto;
    margin-bottom: 20px;
}

#gallery-page {
    columns: 3 auto;
    column-gap: 47px;
    padding: 50px 50px 0px 30px;
    background-color: #7354bb4b;
}

#gallery-page img {
    width: 100%;
    margin-bottom: 24px;
}
/* Gallery Homepage Ends */

/* About Page Starts */
#content {
    display: grid;
    margin-top: 8%;
    grid-template-columns: 1fr 1fr 450px 1fr 1fr;
    grid-template-areas:
        ". image1 text1 . ."
        ". . text2 . ."
        ". . text3 image2 .";
}

.image1 {
    grid-area: image1;
}

.paragraph1 {
    grid-area: text1;
}

.paragraph2 {
    grid-area: text2;
}

.image2 {
    grid-area: image2;
}

#part3 {
    grid-area: text3;
}

div.image1 img {
    width: 300px;
    border-radius: 30px 8px;
    margin-right: 50px;
}

#first-part,
.paragraph1,
.paragraph2,
#part3 {
    align-items: center;
    text-align: center;
    color: white;
}

span.image2 img {
    width: 150px;
    border-radius: 40px 40px;
    margin-left: 20%;
}
/* About Page Ends */

/* Contact Page Starts */
#contact {
    display: grid;
    margin-top: 8%;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-areas:
        ". number ."
        ". email ."
        ". instagram .";
}

#number {
    display: flex;
    justify-content: center;
    grid-area: number;
}

#pn1 {
    color: #C7B2FA;
}

#pn2 {
    color: white;
}

#email {
    display: flex;
    justify-content: center;
    grid-area: email;
}

#email1 {
    color: #C7B2FA;
}

#email2 {
    color: white;
}

#email3 {
    text-decoration: none;
    color: #C7B2FA;
}

#instagram {
    display: flex;
    justify-content: center;
    grid-area: instagram;
}

#ig1 {
    color: #C7B2FA;
}

#ig2 {
    color: white;
}

#ig3 {
    color: #C7B2FA;
}
/* Contact Page Ends */

@media screen and (max-width: 1000px) {
    /* Navbar Starts */
    #first-three, #nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #first-three {
        gap: 0px;
    }

    #nav-bar {
        text-align: center;
    }

    #nav-bar #last {
        margin-left: 0px;
        text-align: center;
    }

    #nav-bar a {
        font-size: 1.35rem;
        padding: 5px;
    }
    /* Navbar Ends */

    /* Between Homepage Starts */
    #between {
        height: 200px;
    }

    #between h2 {
        font-size: 50px;
        margin-top: 110px;
    }
    /* Between Homepage Ends */

    /* About Page Starts */
    div.image1 img {
        width: 200px;
        border-radius: 20px 4px;
    }
    
    span.image2 img {
        width: 150px;
        border-radius: 20px 20px;
        margin-left: 0%;
    }

    #content {
        grid-template-columns: 1fr 90% 1fr;
        max-width: 700px;
        justify-items: center;
        margin: 8% auto;
        grid-template-areas:
            ". image1 ."
            ". text1 ."
            ". text2 ."
            ". image2 ."
            ". text3 .";
    }
    /* About Page Ends */

    

    /* Contact Page Starts */


    /* Contact Page Ends */

}