@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Old+Standard+TT&family=Trykker&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-image: url("../images/Portrait.png");
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0px;
    height: 50vh; */
    background: linear-gradient(
        to bottom left,
        #281553,
        #0e0623,
        #000000
    );
    margin: 0px;
    min-height: 100vh;
}

/* Navbar Starts */
#burger-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

#first-three {
    display: flex;
    gap: 15px;
    height: 100%;
}

#nav-bar {
    /* background-color: #746694; */
    background: linear-gradient(
        to bottom left,
        #281553,
        #0e0623,
        #000000
    );
    padding: 0px 20px;
    display: flex;
}

#nav-bar a {
    text-decoration: none;
    color: #C7B2FA;
    font-size: 2vw;
    font-family: 'Fenix', serif;
    display: block;
    padding: 20px;
    transition:
        background-color 0.5s;
}
#nav-bar a:hover {
    background-color: #3E2F61;
    height: 100%;
}

#last {
    margin-left: auto;
    display: block;
}
/* Navbar Ends */

/* Hero Homepage Starts */
#hero {
    background: linear-gradient(45deg, #00000055, #00000055),
    url(../images/Portrait.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h1 {
    font-size: 10vw;
    font-family: 'Old Standard TT', serif;
    margin-bottom: 5vh;
    margin-left: 5vw;
    color: #cfbef4;
}

#hero h3 {
    font-size: 5vw;
    font-family: 'Old Standard TT', serif;
    margin: 0px 0vw 0px 5.5vw;
    color: #cfbef4;
}

#hero a {
    font-size: 3vw;
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    display: inline-block;
    background-color: #ffffff67;
    border-radius: 10px;
    color: #3a2175;
    text-decoration: none;
    padding: 17px;
    margin: 5vh 5vw 10vh 5.5vw;
    transition:
        background-color 0.5s,
        color 0.5s,
        box-shadow 0.5s;
}
#hero a:hover {
    background-color: #3a217579;
    color: #cfbef4;
    box-shadow: inset 3px 5px 15px #000000;
}
/* Hero Homepage Ends */

/* Between Homepage Starts */
#between {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#between h2 {
    color: #C7B2FA;
    font-size: 100px;
    font-family: 'Old Standard TT', serif;
    margin-top: 150px;
}
/* Between Homepage Ends */

/* Gallery Homepage Starts */
#layout {
    max-width: 800px;
    margin: 48px auto;
    margin-bottom: 20px;
}

#gallery-page {
    columns: 3 auto;
    column-gap: 47px;
    padding: 50px 50px 0px 30px;
    background-color: #7354bb4b;
}

#gallery-page img {
    width: 100%;
    margin-bottom: 24px;
}
/* Gallery Homepage Ends */

/* About Page Starts */
#content {
    display: grid;
    margin-top: 4%;
    grid-template-columns: 1fr 1fr 40vw 1fr 1fr;
    grid-template-areas:
        ". image1 text1 . ."
        ". . text2 . ."
        ". . text3 image2 .";
}

.image1 {
    grid-area: image1;
}

.paragraph1 {
    grid-area: text1;
}

.paragraph2 {
    grid-area: text2;
}

.image2 {
    grid-area: image2;
}

#part3 {
    grid-area: text3;
}

div.image1 img {
    width: 230px;
    border-radius: 30px 8px;
    margin-right: 50px;
}

#first-part,
.paragraph1,
.paragraph2,
#part3 {
    align-items: center;
    text-align: center;
    color: white;
}

.paragraph1 h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 40px;
}

.paragraph1 p {
    font-family: 'Trykker', serif;
}

.paragraph2 p {
    font-family: 'Trykker', serif;
}

#part3 {
    font-family: 'Trykker', serif;
}

span.image2 img {
    width: 150px;
    border-radius: 40px 40px;
    margin-left: 20%;
}
/* About Page Ends */

/* Skills Section About Page Starts */
#skills {
    display: grid;
    margin-top: 4%;
    grid-template-columns: 1fr 1fr 30vw 1fr 1fr;
    grid-template-areas:
        ". . sk-text . ."
        ". . sk-content . .";
}

#m-skills {
    grid-area: sk-text;
    font-size: 85px;
    font-family: 'Old Standard TT', serif;
    color: #C7B2FA;
    text-align: center;
}

#skills-content {
    grid-area: sk-content;
    display: flex;
}

.design {
    width: 300px;
}

.design h2 {
    font-family: 'Old Standard TT', serif;
    color: #C7B2FA;
    text-align: center;
}

.design p {
    font-family: 'Trykker', serif;
    color: #C7B2FA;
}

#design-icons {
    display: flex;
    flex-wrap: wrap;
}

#design-icons div {
    width: 40%;
    margin-right: 20px;
    text-align: center;
}

#ai,
#psd,
#lr {
    width: 83%;
    margin: 12px;
}

#xd {
    width: 100%;
}

.web-design {
    width: 300px;
}

.web-design h2 {
    font-family: 'Old Standard TT', serif;
    color: #C7B2FA;
    text-align: center;
}

.web-design p {
    font-family: 'Trykker', serif;
    color: #C7B2FA;
}

#web-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#web-icons div {
    width: 40%;
    margin-right: 20px;
    text-align: center;
}

#html {
    width: 100%;
}

#css {
    width: 92%;
}

#wp {
    width: 105%;
}

/* Skills Section About Page Ends */

/* Contact Page Starts */
#contact {
    display: grid;
    margin-top: 8%;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-areas:
        ". number ."
        ". email ."
        ". instagram .";
}

#number {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: number;
}

#pn1,
#email1,
#ig1 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.875rem;
    color: #C7B2FA;
}

#pn2,
#email2,
#ig2 {
    font-family: 'Trykker', serif;
    font-size: 1.5rem;
    color: white;
    margin: 0px 16px;
}

.button {
    font-family: 'Fenix', serif;
    font-size: 1.65rem;
    text-decoration: none;
    color: #C7B2FA;
    background-color: #281553;
    padding: 10px 20px;
    border-radius: 15px;
    transition:
        color 0.5s,
        background-color 0.5s
    ;
}
.button:hover {
    color: #281553;
    background-color: #C7B2FA;
}

#email {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: email;
}

#instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: instagram;
}
/* Contact Page Ends */

@media screen and (max-width: 1000px) {
    /* Navbar Starts */
    #burger-nav {
        visibility: visible;
        opacity: 1;
        margin-left: auto;
        position: unset;
        margin-bottom: 15px;
    }

    #burger-nav img {
        width: 50px;
        height: 35px;
    }

    #first-three,
    #last {
        display: none;
    }

    #last.mob {
        display: block;
    }

    #first-three.mob,
    #nav-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .mob #first-three {
        gap: 0px;
    }

    #nav-bar {
        padding: 25px 25px 5px 0px;
    }

    #last {
        margin: 15px 0px 15px 0px;
    }

    #nav-bar a {
        font-size: 1.35rem;
        padding: 5px;
    }
    /* Navbar Ends */

    /* Hero Homepage Starts */
    #hero h1 {
        margin-bottom: 1vh;
    }

    #hero h3 {
        font-size: 7vw;
    }

    #hero a {
        font-size: 5vw;
        margin: 1vh 5vw 10vh 5.5vw;
    }    
    /* Hero Homepage Ends */

    /* Between Homepage Starts */
    #between {
        height: 200px;
    }

    #between h2 {
        font-size: 40px;
        margin-top: 110px;
    }
    /* Between Homepage Ends */

    /* Gallery Homepage Starts */
    #gallery-page {
        columns: 2 auto;
        column-gap: 17px;
        padding: 70px 20px 30px 20px;
    }
    /* Gallery Homepage Ends */

    /* About Page Starts */
    div.image1 img {
        width: 200px;
        border-radius: 20px 4px;
        margin-right: 0%;
    }
    
    span.image2 img {
        width: 150px;
        border-radius: 20px 20px;
        margin-left: 0%;
    }

    #content {
        grid-template-columns: 1fr 90% 1fr;
        max-width: 700px;
        justify-items: center;
        margin: 8% auto;
        grid-template-areas:
            ". image1 ."
            ". text1 ."
            ". text2 ."
            ". image2 ."
            ". text3 .";
    }
    /* About Page Ends */

    /* Skills Section About Page Starts */
    #skills {
        grid-template-columns: 1fr 1fr 75vw 1fr 1fr;
    }

    .design h2 {
        font-family: 'Old Standard TT', serif;
        color: #C7B2FA;
        text-align: center;
    }

    .design p {
        font-family: 'Trykker', serif;
        color: #C7B2FA;
    }

    #design-icons div p {
        margin-top: 0px;
    }

    .web-design h2 {
        font-family: 'Old Standard TT', serif;
        color: #C7B2FA;
        text-align: center;
    }

    .web-design p {
        font-family: 'Trykker', serif;
        color: #C7B2FA;
    }

    #web-icons div p {
        margin-top: 10px;
    }

    /* Skills Section About Page Ends */

    /* Contact Page Starts */

    #number,
    #email,
    #instagram {
        flex-direction: column;
    }

    #number,
    #email {
        margin-bottom: 50px;
    }

    #pn1,
    #email1,
    #ig1 {
        margin: 10px;
    }

    #pn2,
    #email2,
    #ig2 {
        margin-bottom: 20px;
    }

    #pn3,
    #email3,
    #ig3 {
        margin: 10px;
    }
    /* Contact Page Ends */

}

@media screen and (max-width: 530px) {
    #m-skills {
        font-size: 3.438rem;
    }

    #design-icons,
    #web-icons {
        align-items: center;
        flex-direction: column;
    }

    #design-icons div,
    #web-icons div {
        margin-right: 0px;
    }
}