* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #ffd49c;
    height: 1645px;
}

/* Navbar starts here */
#navbar {
    border-bottom: 3px solid black;
    background: linear-gradient(to bottom, #ffd49c, #b86f10);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background-color: #b86f10;
}

.dropdown-container i {
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.30s,
        visibility 0.30s;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.30s,
        visibility 0.30s;
}

.dropdown-container:hover .dropdown-menu,
.dropdown-container:hover i {
    visibility: visible;
    opacity: 1;
}

.dropdown-menu a {
    background-color: #b86f10;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #ffd49c;
}
/* Navbar stops here */

#hero {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: flex-end;
}

#hero-content {
    background-color: #a57e4b;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    padding: 30px 70px;
}

#hero h2 {
    font-size: 50px;
    margin: 0px;
    color: #ffffff;
}

#hero p {
    font-size: 20px;
    margin: 0px;
    color: #ffffff;
}

#content {
    
}

#content p {
    background-color: #a57e4b;
    font-size: 100px;
    border-radius: 30px;
    padding: 30px 70px;
}
