@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Noto Serif', serif;
}

#navbar {
    background: linear-gradient(to bottom, #ffe8a2, #dbb314);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    transition:
    background-color 0.5s,
    color 0.5s
;
}
#navbar a:hover {
    background-color: #ffcc00;
    color: #a07801;
}

#navbar #logo {
    margin-right: auto;
    color: #7c5d00;
    font-weight: bold;
    font-size: 26px;
    display: block;
}

#logo p {
    text-align: center;
    margin: 0px;
    padding: 0px 24px;
}