* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/lizard.jpg");
    height: 100vh;
    background-size: cover; /* new property */
    background-position: center center;
    /* new properties */
    display: flex;
    justify-content: flex-start; /* i.e. left alignment for rows */
    align-items: center;
}

#hero-1 h1 {
    font-size: 15vw; /* 15% of the view width */
    padding-left: 10vw; /* 10% of the view width */
}

.spacer {
    height: 50vh;
    /* these are the new properties we're adding */
    background-image: url("../images/emerald-seas.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#hero-2 {
    background-image: url("../images/lonely-ocean.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; /* new */
    justify-content: center; /* changed so it's now vertically centered */
    align-items: flex-end; /* changed so it's now horizontally right */
}

#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero-3 {
    background-image: url("../images/orange-wildflowers.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero-4 {
    background-image: url("../images/stars-on-velvet.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /* these properties are key to centering hero-content */
    display: flex;
    justify-content: center; 
    align-items: center;
}

#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh; /* this will push it down a little */
}

#hero-4 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-4 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-4 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}