/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#main {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-style-2 {
    width: 350px;
    margin: 16px;
    background: white;
    padding: 25px;
    border-radius: 30px;
}

.animagram-header,
.animagram-footer {
    display: flex;
    justify-content: space-between;
}

.animagram-header {
    margin-bottom: 40px;
}

.brand-name {
    font-size: 30px;
    margin-top: 10px;
}

.card-style-2 img {
    width: 65%;
    height: 65%;
    border-radius: 100%;
    display: block;
    margin: 0px auto;
}

.card-style-2 h2 {
    text-align: center;
    margin: 20px;
}
.card-style-2 p {
    padding: 0px 30px 0px 30px;
    margin-bottom: 55px;
    text-align: center;
}

.animagram-footer {
    font-size: 25px;
}