* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#card {
    flex: 200px;
    border: 3px solid #2f7974;
    margin: 24px;
    height: 250px;
    border-radius: 12px;
    text-align: center;
    background-color: #d1fffc;
}

#card p {
    font-size: 24px;
    color: #2f7974;
    visibility: hidden;
    transition:
    font-size 0.5s,
    visibility 0.5s;
}

#card:hover p {
    font-size: 80px;
    visibility: visible;
}

#button {
    flex: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    padding-top: 50px;
}

#button a {
    text-decoration: none;
    color: #2f7974;
    background-color: #d1fffc;
    border: 3px solid #2f7974;
    border-radius: 20px;
    padding: 10px;
    transition:
    background-color 0.5s,
    border 0.5s,
    box-shadow 0.5s,
    color 0.5s;
}

#button a:hover {
    box-shadow: 4px 4px 4px #00000033;
    background-color: #2f7974;
    border: 3px solid #d1fffc;
    color: #d1fffc;
}

/* Cards Gallery 2 */
#card2 {
    flex: 200px;
    border: 3px solid #332f79;
    margin: 24px;
    height: 250px;
    border-radius: 12px;
    padding: 7px;
    text-align: center;
    background-color: #e0e0ff;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-15px);
}

#card2 h2 {
    color: #332f79;
}

#card2 p {
    font-size: 15.5px;
    color: #332f79;
    visibility: hidden;
    transition:
    font-size 0.5s,
    visibility 0.5s;
}

#card2:hover p {
    visibility: visible;
}

#button2 {
    flex: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    padding-top: 50px;
}

#button2 a {
    text-decoration: none;
    color: #332f79;
    background-color: #e0e0ff;
    border: 3px solid #332f79;
    border-radius: 20px;
    padding: 10px;
    transition:
    background-color 0.5s,
    border 0.5s,
    box-shadow 0.5s,
    color 0.5s;
}

#button2 a:hover {
    box-shadow: 4px 4px 4px #00000033;
    background-color: #332f79;
    border: 3px solid #e0e0ff;
    color: #e0e0ff;
}

/* Cards Gallery 3 */
#card3 {
    flex: 200px;
    margin: 24px;
    height: 250px;
    border-radius: 12px;
    text-align: center;
    background-color: #d1fffc;
    position: relative;
    border: 0px;
    padding: 0px;
}

#card3 #card-front,
#card3 #card-back {
    border: 3px solid #792f69;
    border-radius: 12px;
    padding: 24px;
}

#card3 #card-back {
    transform: scaleX(0);
}

#card3 .card-front1 {
    background-image: url(../images/Nala1.jpeg);
}

#card3 .card-front2 {
    background-image: url(../images/Nala2.jpeg)
}

#card3 .card-front3 {
    background-image: url(../images/Sully1.jpeg)
}

#card3 .card-front4 {
    background-image: url(../images/Sully2.jpeg)
}

#card3 #card-front {
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card3 #card-front {
    transition: transform 0.25s 0.25s;
}

#card3 #card-back {
    transition: transform 0.25s;
    height: 250px;
}

#card3:hover #card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#card3:hover #card-back{
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

#button3 a {
    text-decoration: none;
    color: #792f69;
    background-color: #ffe0eb;
    border: 3px solid #792f69;
    border-radius: 20px;
    padding: 10px;
    transition:
    background-color 0.5s,
    border 0.5s,
    box-shadow 0.5s,
    color 0.5s;
}

#button3 a:hover {
    box-shadow: 4px 4px 4px #00000033;
    background-color: #2f7974;
    border: 3px solid #d1fffc;
    color: #d1fffc;
}