@import url('https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Kavivanar&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: #eefeff;
    margin: 0px;
}

#nav-bar {
    background-color: #FDF1D1;
    padding: 11px;
    display: flex;
}
#nav-bar {
    position: sticky;
    top: 0px;
}

#nav-bar #name-button a,
#nav-bar #nav-bar-buttons a {
    text-decoration: none;
    color: #3F8E98;
}

#name-button {
    margin-right: auto;
    display: block;
}

#name-button a {
    font-family: 'Great Vibes', cursive;
    font-size: 2.188rem;
}

#nav-bar #nav-bar-buttons a {
    font-family: 'Charm', cursive;
    font-size: 1.563rem;
    margin-right: 35px;
}

#hero {
    background: linear-gradient(45deg, #ffffff55, #ffffff55),
    url(../images/pumpkin-pie.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero h1 {
    font-size: 3.75rem;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #3F8E98;
    text-shadow: 3px 2px 5px #FDF1D1;
}

#hero h3 {
    font-size: 2.5rem;
    margin: 0px 5vw 0px 0px;
    color: #3F8E98;
    text-shadow: 3px 2px 5px #faf3df;
}

#hero a {
    font-size: 3vw;
    display: inline-block;
    background-color: #FDF1D1;
    border-radius: 10px;
    color: #3F8E98;
    text-decoration: none;
    padding: 17px;
    margin: 0vh 5vw 10vh 0px;
    transition:
        background-color 0.5s,
        box-shadow 0.5s;
}
#hero a:hover {
    background-color: #3F8E98;
    color: #FDF1D1;
    box-shadow: inset 3px 5px 5px #4d4d4dd0;
}

#specials,
#live {
    height: 100vh;
}

#specials-images,
#live-images {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#specials h2,
#live h2 {
    color: #3F8E98;
    font-size: 80px;
}

#specials h2 {
    margin-top: 100px;
}

.images {
    height: 600px;
    flex: 1;
}

#specials .images img,
#live .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#featured-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-item img {
    width: 700px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #3F8E98;
}

.text-item {
    color: #3F8E98;
    margin-left: 60px;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-all {
    width: 350px;
    margin: 16px;
    background: #3F8E98;
    padding: 25px;
    border-radius: 30px;
}

.menu-all div {
    display: flex;
}

.center {
    text-align: center;
    color: #3F8E98;
}

#heading h1 {
    font-size: 80px;
}

.appetizer,
.main-dishes,
.side-dishes,
.desserts {
    flex: 1;
    justify-content: center;
}

.appetizer .center,
.main-dishes .center,
.side-dishes .center,
.desserts .center {
    font-size: 35px;
}

.appetizer div h2,
.main-dishes div h2,
.side-dishes div h2,
.desserts div h2 {
    font-size: 20px;
    color: #FDF1D1;
}

.appetizer p,
.main-dishes p,
.side-dishes p,
.desserts p {
    font-size: 15px;
    color: #D1FAFD;
}

.menu-all div p {
    margin-left: auto;
}

#footer {
    background-color: #3F8E98;
    color: #FDF1D1;
    padding: 12px;
    margin-top: 110px;
}

#footer #logo img {
    width: 160px;
}

#footer a {
    text-decoration: none;
    color: #FDF1D1;
}

#footer-columns-navbar {
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    gap: 45px;
    justify-content: center;
}

#footer-columns-navbar .col {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

#footer #social-media img {
    width: 70px;
}

.social {
    display: flex;
}

.social img {
    flex: 1;
    display: block;
}

@media screen and (max-width: 768px) and (min-width: 501px) {
    
}

@media screen and (max-width: 500px) {
    body {
        background-color: #767676;
    }

    #featured-item {
        flex-direction: column;
    }
    
    .image-item img {
        width: 300px;
        border-radius: 30px;
    }

    .text-item {
        width: 90%;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-item h1 {
        text-align: center;
    }

    .text-item p {
        text-align: center;
    }

    #footer-columns-navbar {
        flex-direction: column;
    }

    .social img {
        flex: 20px !important;
    }
}