@import url('https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Kavivanar&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: #eefeff;
    margin: 0px;
}

#nav-bar {
    background-color: #FDF1D1;
    padding: 11px;
    display: flex;
}
#nav-bar {
    position: sticky;
    top: 0px;
}

#nav-bar #name-button a,
#nav-bar #nav-bar-buttons a {
    text-decoration: none;
    color: #3F8E98;
}

#name-button {
    margin-right: auto;
    display: block;
}

#name-button a {
    font-family: 'Great Vibes', cursive;
    font-size: 2.188rem;
}

#nav-bar #nav-bar-buttons a {
    font-family: 'Charm', cursive;
    font-size: 1.563rem;
    margin-right: 35px;
}

#hero {
    background: linear-gradient(45deg, #ffffff55, #ffffff55),
    url(../images/pumpkin-pie.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero h1 {
    font-size: 3.75rem;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #3F8E98;
    text-shadow: 3px 2px 5px #FDF1D1;
}

#hero h3 {
    font-size: 2.5rem;
    margin: 0px 5vw 0px 0px;
    color: #3F8E98;
    text-shadow: 3px 2px 5px #faf3df;
}

#hero a {
    font-size: 3vw;
    display: inline-block;
    background-color: #FDF1D1;
    border-radius: 10px;
    color: #3F8E98;
    text-decoration: none;
    padding: 17px;
    margin: 0vh 5vw 10vh 0px;
    transition:
        background-color 0.5s,
        box-shadow 0.5s;
}
#hero a:hover {
    background-color: #3F8E98;
    color: #FDF1D1;
    box-shadow: inset 3px 5px 5px #4d4d4dd0;
}

#specials,
#live {
    height: 100vh;
}

#specials-images,
#live-images {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#specials h2,
#live h2 {
    color: #3F8E98;
    font-size: 80px;
}

#specials h2 {
    margin-top: 100px;
}

.images {
    height: 600px;
    flex: 1;
}

#specials .images img,
#live .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#featured-item {
    display: flex;
}

.image-item img {
    width: 700px;
}

.text-item {
    color: #3F8E98;
}

#footer {
    background-color: #3F8E98;
    color: #FDF1D1;
    padding: 12px;
    margin-top: 110px;
}

#footer #logo img {
    width: 160px;
}

#footer a {
    text-decoration: none;
    color: #FDF1D1;
}

#footer-columns-navbar {
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: center;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

/* #footer-columns-navbar div a {
    margin-left: 50px;
    margin-right: 50px;
} */

#footer-columns-navbar a {
    padding: 8px 0px;
}

#footer #social-media img {
    width: 70px;
}

.social {
    display: flex;
}

.social img {
    flex: 1;
    display: block;
}