* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: serif;
    background-color: #9E88B8;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
    ;
}

#header {
    grid-area: header;
    padding: 0px 36px;
}
#header a {
    text-decoration: none;
}
#header #me {
    color: #351C52;
}
#header #tube {
    color: #9E88B8;
    background-color: #351C52;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}
#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid #351C52;
    font-size: larger;
}
#sidebar ul a {
    text-decoration: none;
    color: #351C52;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: #351C52;
    color: #D9C9EB;
    border-radius: 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.thumbnail-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-placeholder img {
    width: 70%;
    border-radius: 40px;
}

.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;
    background: radial-gradient(at top left, #351C52, #D9C9EB);
    border-radius: 70px 0px;
}

.metube-item .thumbnail-placeholder:hover {
    background: radial-gradient(at top left, #D9C9EB, #351C52);
    border-radius: 0px 70px;
}

.metube-item h4 {
    margin: 13px 0px;
    font-size: large;
}
.metube-item h4:hover {
    text-decoration: underline;
}
.metube-item h4 a {
    text-decoration: none;
    color: #351C52;
    display: block;
}
.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}
.metube-item .video-channel {
    margin-bottom: 4px;
}