/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
div#license {
    border: 3px solid black;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    padding: 25px;
}

div#left-side {
    display: inline-block;
    text-align: left;
}

div#right-side {
    display: inline-block;
    align-items: right;
}


h1 {
    color: navy;
}

h4 {
    background: navy;
    color: white;
    text-align: center;
}