/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    border: 3px solid black;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    padding: 20px;
    padding-top: 0%;
    box-shadow: 4px 4px 5px #3a3632;
    display: inline-block;
}

#left-side {
    text-align: left;
    display: inline-block;
}

#right-side {
    display: inline-block;
}

#id-and-expiration {
    display: flex;
    margin: 1%
}

#id-and-expiration div {
    color: navy;
    margin-right: 15px;
}

#id-and-expiration span {
    color: red;
    font-weight: bold;
}

#address {
    font-weight: bold;
    margin: 5px;
}

#personal-info {
    display: flex;
}

#small-pic {
    opacity: 50%;
}

#data-left, div#data-right {
    display: inline-block;
    margin: 10px;
}

#data-left div, #data-right div {
    color: navy;
}

#data-left span, #data-right span {
    color: red;
}

#signature {
    text-align: center;
}

#right-side {
    align-items: right;
}

#content {
    color: navy;
    margin-bottom: 0%;
}

h4 {
    background: navy;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0% 0% 0% 0%;
}

#donor, #real-id {
    display: inline-block;
}
