* {
    box-sizing: border-box
}

#body1,
#body2,
#body3 {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/morning.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

#hero-1 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

#hero-1 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #745dae92;
}

#hero-1 h4 {
    font-size: 30px;
    margin: 0px 5vw 0px 0px;
    color: #ba44d2bc;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #745dae92;
    color: #ba44d2bc;
    font-size: large;
    border-radius: 10px;
    text-decoration: none;
    padding: 16px;
    margin: 5vh 5vw 10vh 0px;
}

#hero-2 {
    background-image: url("../images/evening.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-2 #hero-content {
    position: absolute;
    top: 4%;
    left: 6%;
}


#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-top: 0px;
    color: #dc53c7a5;
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero-2 a {
    font-size: 17px;
    display: inline-block;
    background-color: #dc53c7a5;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 14px;
    margin: 5vh 5vw 10vh 0px;
}

#hero-3 {
    background-image: url("../images/night.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#hero-3 h2 {
    font-size: 97px;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #0080ff88;
}

#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: #bacad6;
}

#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #0080ff88;
    border-radius: 10px;
    font-size: 13px;
    color: #bacad6;
    text-decoration: none;
    padding: 17px;
    margin: 5vh 5vw 13vh 0px;
}