* {
    box-sizing: border-box
}

#body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

/* Hero starts here */

#hero {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero #hero-content {
    position: absolute;
    top: 4%;
    left: 6%;
}

#hero h1 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-top: 0px;
    color: #dc53c7a5;
}

#hero h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero p {
    font-size: 17px;
    color: white;
}

/* Hero stops here */
#space-between {
    height: 50vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Gallery begins here */

#gallery {
    columns: 3 auto;
    column-gap: 24px;
    padding: 24px;
    border: 10px solid #550055;
}

#gallery img {
    width: 100%;
    margin-bottom: 24px;
}