* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    color: #C7C7C7;
    background: linear-gradient(
        to bottom right,
        #21AAC2,
        #000000
    );
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: 
        ". content sidebar ."
    ;
}

#sidebar {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar h2 {
    background-color: #21AAC2;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}
#sidebar ul {
    background-color: #404040;
    border: 4px solid #21AAC2;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}
#sidebar a {
    color: white;
    text-decoration: none;
}
#sidebar li {
    border-bottom: 1px solid white;
    padding: 8px 0px;
}

#sidebar li:last-child {
    border-bottom: 0px;
}

#content {
    background-color: #404040;
    grid-area: content;
    border: 3px solid #21AAC2;
    padding: 10px;
}

#ns-lights img {
    width: 100%
}

#ns-plate img {
    width: 200px;
    float: left;
    margin: 3% 3% 1% 0%;
}

#ns-ceiling img {
    width: 200px;
    margin-left: 110px;
}